{% extends 'index.html' %} {% block body %}
    <header>
        <h1>Oppslagtavla</h1>
    </header>

    <div class="container">
        <div class="input-form">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert {{ category }}">
                <span class="closebtn" onclick="this.parentElement.style.opacity='0'">&times;</span>
                {{ message }}
                </div>
            {% endfor %}
            <h1 class="mb-3">Add Post</h1>
            <form method="POST">
                {{ form.csrf_token() }}
                <div class="mb-3">
                    {{ form.kategori(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.tittel(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.ingress(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.oppslagtekst(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.bruker(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.dato(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.submit(class='btn btn-rounded') }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}